<div class="sidenav">
  <div class="login-main-text">
    <h2>Software Delivery Dashboard</h2>
    <p>Login or register from here to access.</p>
  </div>
</div>
<div class="main">
  <div class="col-md-6 col-sm-12">
    <div class="login-form">
      <form id="form" method="post">
        <input th:name="${_csrf.parameterName}" th:value="${_csrf.token}" type="hidden">
        <div class="form-group">
          <label for="emailInput">E-mail Address</label>
          <input class="form-control" id="emailInput" name="username"
                 placeholder="email@ericsson.com" type="email">
          <small>Only valid Ericsson e-mail addresses are accepted</small>
        </div>
        <div class="form-group">
          <label for="passwordInput">Password</label>
          <input class="form-control" id="passwordInput" name="password" placeholder="Password"
                 type="password">
        </div>
        <button class="btn btn-black" id="submit" type="submit">Login
        </button>
        <br>
        <a routerLink="/register">Create an account?</a>
      </form>
    </div>
  </div>
</div>
