<form (ngSubmit)="doLogin()">
  <div class="mb-3">
    <label class="form-label" for="usernameInput">Email address</label>
    <input [(ngModel)]="username" aria-describedby="emailHelp" class="form-control" id="usernameInput" name="username"
           type="email">
  </div>
  <div class="mb-3">
    <label class="form-label" for="passwordInput">Password</label>
    <input [(ngModel)]="password" class="form-control" id="passwordInput" name="password" type="password">
  </div>
  <button class="btn btn-primary" type="submit">Submit</button>
</form>
